.codeContainer {
  display: flex;
  flex-direction: column;
  padding: clamp(1rem, 2vw, 3rem);
}

@media (max-width: 968px) {
  .codeContainer {
    flex: 1;
    position: static;
    transform: translateX(0);
    padding: 1rem;
    overflow: auto;
  }
}
