.container {
  display: grid;
  grid-template-columns: clamp(10rem, 12%, 15rem) 1fr;
}

@media (max-width: 968px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 92vh;
  }
}
