.newPostContainer {
  display: flex;
  flex-direction: column;
  margin: 3rem;

  border-radius: 10px;
  background-color: var(--background-secondary);
  justify-content: center;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem 2rem;
  border-bottom: 1px solid var(--border-primary);
}
.newPostContainer button {
  background-color: var(--primary);
  border: 0;
  border-radius: 8px;
  padding: 0.3rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: transform 0.3s;
}
.newPostContainer button:hover {
  cursor: pointer;
  filter: brightness(1.1);
  transform: translateY(-5px);
}
.body {
  display: flex;
  height: 100%;
}

@media (max-width: 968px) {
  .newPostContainer {
    margin: 1rem;
    width: 100%;
  }
  .body {
    flex: 1;
    width: 100%;
    overflow: auto;
    flex-direction: column;
    padding: 0;
    background-color: transparent;
    gap: 2rem;
  }
}
