.newPostContainer {
  display: flex;
  padding: 0 0.5rem;
  flex-direction: column;
  margin: 3rem;

  border-radius: 10px;
  background-color: var(--background-secondary);
  justify-content: center;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
}
.newPostContainer button {
  background-color: var(--primary);
  border: 0;
  border-radius: 8px;
  padding: 0.3rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.newPostContainer button:hover {
  cursor: pointer;
}
.body {
  display: flex;
  padding: 1rem;
  height: 100%;
}

@media (max-width: 968px) {
  .newPostContainer {
    flex: 1;
    width: 100%;
    overflow: auto;
    flex-direction: column;
    margin: 0;
    background-color: transparent;
  }
}
/* TODO CHANGE CSS NAMES TO BE MORE READABLE */
